<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Login</h1>
  <p>Don't have account ? <a href="/signup">register now</a></p>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>

    <button type="submit">Login</button>
  </form>
  <p>
    <a href="/login/facebook">Login with Facebook</a>
  </p>
</body>
</html>
