<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/js/jquery-3.3.1.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
  <form action="/tasks" method="POST">
    <input id="task" name="task">
    <button id="add" type="submit">ADD</button>
  </form>

  <ul id="list">
    {{#each tasklist as |item|}}
      <li>{{item.task}}</li>
    {{/each}}
  </ul>
</body>
</html>
