div {
  padding: 10px;
  margin: 10px;
  min-height: 10px;
  border: solid black 5px;
}


.outer {
  background-color: coral;
}

.middle {
  background-color: lightskyblue;
}

.inner {
  background-color: lightgreen;
}

#ten {
  position: relative;
  bottom: 20px;
  right: 20px;
}

#eleven {
  position: absolute;
  left: 10px;
}


#thirteen {
  position: fixed;
  top: 0px;
  left: 100px;
}

#five {
  position: sticky;
  top: 10px;
  bottom: 10px;
}
