div {
  height: 100px;
  width: 100px;
  margin: 50px;
  background-color: darkslateblue;

}

@keyframes moveleft {
  0% {

  }
  50% {
    transform: translateX(50px) scale(2);
  }

  100% {

  }
}

#one {
  animation-name: moveleft;
  animation-duration: 2s;
  animation-iteration-count: 10;
}
